

.b, h1 {
    color:orange;
    background-color: black;
    padding-left: 20px;
    padding-bottom: 5px;
    
 }

h2 {
    color: orange;
}

.a {
     background-color: darkblue;
    opacity: 0.9;
    color: white;
    padding: 20px;
    border-radius: 15px;
  }